version: '3.9'

services:
  db:
    image: postgres:15
    container_name: appointment_db
    env_file: .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - appointment_net

  web:
    build:
      context: ./backend
    container_name: appointment_web
    command: python manage.py runserver 0.0.0.0:8000
    env_file: .env
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - appointment_net

volumes:
  postgres_data:

networks:
  appointment_net:
